{% extends 'base form.html' %}
{% block form %}    
            <form method="post">
            {% csrf_token %}

            <div class="d-flex align-items-center mb-3 pb-1">
                <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                <span class="h1 fw-bold mb-0">Mis Huellitas</span>
            </div>

            <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Inicia sesión</h5>

            <div class="form-outline mb-4">
                <input type="text" name="username" autocomplete="username" required_id="id_username" class="form-control form-control-lg" />
                <label class="form-label" for="form2Example17">Nombre de usuario</label>
            </div>

            <div class="form-outline mb-4">
                <input type="password" name="password" autocomplete="current-password" required_id="id_password" class="form-control form-control-lg" />
                <label class="form-label" for="form2Example27">Contraseña</label>
            </div>

            <div class="pt-1 mb-4">
                <button class="btn btn-dark btn-lg btn-block" type="submit">Ingresar</button>
            </div>

            <p class="mb-5 pb-lg-2" style="color: #393f81;"><a href="#!"
                style="color: #393f81;">Registrarse</a></p>
            </form>
{% endblock form %}