{% extends 'base.html' %}
{% block title %}Compras{% endblock title %}

{% block content %}
<div class='m-3'>
    <div class='d-flex justify-content-between'>
        <h2> Compras Mis Huellitas </h2>
        <a href ='{% url 'compra_new' %}' ><button type='button' class='btn btn-info'>Agregar nueva compra</button></a>
    </div>
</div>
</br>
<table class='table table-striped' 
    data-toggle='table'
    data-pagination = 'true'
    data-sort-name='fecha'
    data-sort-order='desc'
    data-thead-classes = 'table-dark'>
    <thead>
      <tr>
        <th scope='col' data-sortable='true'>Producto</th>
        <th scope='col' data-sortable='true'>Cantidad</th>
        <th scope='col' data-sortable='true'>Precio</th>
        <th scope='col' data-sortable='true' data-field='fecha'>Fecha</th>
        <th scope='col' data-sortable='true'>Comprador</th>
        <th scope='col'>Opciones</th>
      </tr>
    </thead>
    <tbody>       
        {% for compra in object_list %}
        <tr>
            <th scope='row'> 
                <a href ='{% url 'compra_detail' compra.pk %}' >
                        {{ compra.producto }}
                </a>
            </th>
            <td>{{ compra.cantidad }}</td>
            <td>${{ compra.precio }}</td>
            <td>{{ compra.fecha | date:'Y-m-d H:i' }}</td>
            <td>{{ compra.comprador }}</td>
            <td>
                <a href ='{% url 'compra_edit' compra.pk %}' ><button type='button' class='btn btn-secondary'>Editar</button></a>
                <a href ='{% url 'compra_delete' compra.pk %}' ><button type='button' class='btn btn-danger'>Borrar</button></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}