{% extends 'base.html' %}
{% block content %}
    <div class="row g-0">
        <div class="col-md-6 col-lg-5 d-none d-md-block">
        <img src="https://image.winudf.com/v2/image1/Y29tLmphc29uYmFyYS5hbmltYWxzd2FsbHBhcGVyX3NjcmVlbl8wXzE1NjkwMTc0NDhfMDQ4/screen-0.webp?fakeurl=1&type=.webp"
            alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
        </div>
        <div class="col-md-6 col-lg-7 d-flex align-items-center">
        <div class="card-body p-4 p-lg-5 text-black">
            <div class="d-flex align-items-center mb-3 pb-1">
                <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                <span class="h1 fw-bold mb-0">Inventario - Mis Huellitas </span>
            </div>
        </div>
        </div>
    </div>
{% endblock content %}